.course
    .container
        .row
            // Course
            .col-lg-8
                .course_container
                    .course_title= courseData.title
                    .course_info.d-flex.flex-lg-row.flex-column.align-items-lg-center.align-items-start.justify-content-start
                        // Course Info Item
                        .course_info_item
                            .course_info_title Teacher:
                            .course_info_text
                                a(href='#') Jacke Masito
                        // Course Info Item
                        .course_info_item
                            .course_info_title Reviews:
                            .rating_r.rating_r_4
                                i
                                i
                                i
                                i
                                i
                        // Course Info Item
                        .course_info_item
                            .course_info_title Categories:
                            .course_info_text
                                a(href='#') Languages
                    // Course Image
                    .course_image
                        img(src='/images/course_image.jpg', alt='')
                    // Course Tabs
                    .course_tabs_container
                        .tabs.d-flex.flex-row.align-items-center.justify-content-start
                            .tab.active description
                            .tab curriculum
                            .tab reviews
                        .tab_panels
                            // Description
                            .tab_panel.active
                                .tab_panel_title= courseData.title
                                .tab_panel_content
                                    .tab_panel_text
                                        p= courseData.description
                                    .tab_panel_faq
                                        .tab_panel_title FAQ
                                        // Accordions
                                        .accordions
                                            .elements_accordions
                                                .accordion_container
                                                    .accordion.d-flex.flex-row.align-items-center
                                                        div Can I just enroll in a single course?
                                                    .accordion_panel
                                                        p
                                                            | Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.
                                                .accordion_container
                                                    .accordion.d-flex.flex-row.align-items-center.active
                                                        div I'm not interested in the entire Specialization?
                                                    .accordion_panel
                                                        p
                                                            | Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.
                                                .accordion_container
                                                    .accordion.d-flex.flex-row.align-items-center
                                                        div What is the refund policy?
                                                    .accordion_panel
                                                        p
                                                            | Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.
                                                .accordion_container
                                                    .accordion.d-flex.flex-row.align-items-center
                                                        div What background knowledge is necessary?
                                                    .accordion_panel
                                                        p
                                                            | Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.
                                                .accordion_container
                                                    .accordion.d-flex.flex-row.align-items-center
                                                        div Do i need to take the courses in a specific order?
                                                    .accordion_panel
                                                        p
                                                            | Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.
                            // Curriculum
                            .tab_panel.tab_panel_2
                                .tab_panel_content
                                    .tab_panel_title= courseData.title
                                    .tab_panel_content
                                        .tab_panel_text
                                            p
                                                | Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                                        // Dropdowns
                                        ul.dropdowns

                                            each lesson in courseData.lessons
                                                li.has_children
                                                    .dropdown_item
                                                        .dropdown_item_title
                                                            span= lesson.title
                                                        .dropdown_item_text
                                                            p
                                                                | Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.
                            // Reviews
                            .tab_panel.tab_panel_3
                                .tab_panel_title Course Review
                                // Rating
                                .review_rating_container
                                    .review_rating
                                        .review_rating_num 4.5
                                        .review_rating_stars
                                            .rating_r.rating_r_4
                                                i
                                                i
                                                i
                                                i
                                                i
                                        .review_rating_text (28 Ratings)
                                    .review_rating_bars
                                        ul
                                            li
                                                span 5 Star
                                                .review_rating_bar
                                                    div(style='width:90%;')
                                            li
                                                span 4 Star
                                                .review_rating_bar
                                                    div(style='width:75%;')
                                            li
                                                span 3 Star
                                                .review_rating_bar
                                                    div(style='width:32%;')
                                            li
                                                span 2 Star
                                                .review_rating_bar
                                                    div(style='width:10%;')
                                            li
                                                span 1 Star
                                                .review_rating_bar
                                                    div(style='width:3%;')
                                // Comments
                                .comments_container
                                    ul.comments_list

                                        each comment in courseData.reviews
                                            li
                                                .comment_item.d-flex.flex-row.align-items-start.jutify-content-start
                                                    .comment_image
                                                        div
                                                            img(src='/images/comment_3.jpg', alt='')
                                                    .comment_content
                                                        .comment_title_container.d-flex.flex-row.align-items-center.justify-content-start
                                                            .comment_author
                                                                a(href='#')= comment.author
                                                            .comment_rating
                                                                .rating_r.rating_r_4
                                                                    i
                                                                    i
                                                                    i
                                                                    i
                                                                    i
                                                            .comment_time.ml-auto 1 day ago
                                                        .comment_text
                                                            p= comment.text
                                                        .comment_extras.d-flex.flex-row.align-items-center.justify-content-start
                                                            .comment_extra.comment_likes
                                                                a(href='#')
                                                                    i.fa.fa-heart(aria-hidden='true')
                                                                    span 15
                                                            .comment_extra.comment_reply
                                                                a(href='#')
                                                                    i.fa.fa-reply(aria-hidden='true')
                                                                    span Reply

                                    .add_comment_container
                                        .add_comment_title Add a review
                                        .add_comment_text
                                            | You must be
                                            a(href='#') logged
                                            |  in to post a comment.
            // Course Sidebar
            .col-lg-4
                .sidebar
                    // Feature
                    .sidebar_section
                        .sidebar_section_title Course Feature
                        .sidebar_feature
                            .course_price $180
                            // Features
                            .feature_list
                                // Feature
                                .feature.d-flex.flex-row.align-items-center.justify-content-start
                                    .feature_title
                                        i.fa.fa-clock-o(aria-hidden='true')
                                        span Duration:
                                    .feature_text.ml-auto 2 weeks
                                // Feature
                                .feature.d-flex.flex-row.align-items-center.justify-content-start
                                    .feature_title
                                        i.fa.fa-file-text-o(aria-hidden='true')
                                        span Lectures:
                                    .feature_text.ml-auto 10
                                // Feature
                                .feature.d-flex.flex-row.align-items-center.justify-content-start
                                    .feature_title
                                        i.fa.fa-question-circle-o(aria-hidden='true')
                                        span Lectures:
                                    .feature_text.ml-auto 6
                                // Feature
                                .feature.d-flex.flex-row.align-items-center.justify-content-start
                                    .feature_title
                                        i.fa.fa-list-alt(aria-hidden='true')
                                        span Lectures:
                                    .feature_text.ml-auto Yes
                                // Feature
                                .feature.d-flex.flex-row.align-items-center.justify-content-start
                                    .feature_title
                                        i.fa.fa-users(aria-hidden='true')
                                        span Lectures:
                                    .feature_text.ml-auto 35
                    // Feature
                    .sidebar_section
                        .sidebar_section_title Teacher
                        .sidebar_teacher
                            .teacher_title_container.d-flex.flex-row.align-items-center.justify-content-start
                                .teacher_image
                                    img(src='/images/teacher.jpg', alt='')
                                .teacher_title
                                    .teacher_name
                                        a(href='#') Jacke Masito
                                    .teacher_position Marketing & Management
                            .teacher_meta_container
                                // Teacher Rating
                                .teacher_meta.d-flex.flex-row.align-items-center.justify-content-start
                                    .teacher_meta_title Average Rating:
                                    .teacher_meta_text.ml-auto
                                        span 4.7
                                        i.fa.fa-star(aria-hidden='true')
                                // Teacher Review
                                .teacher_meta.d-flex.flex-row.align-items-center.justify-content-start
                                    .teacher_meta_title Review:
                                    .teacher_meta_text.ml-auto
                                        span 12k
                                        i.fa.fa-comment(aria-hidden='true')
                                // Teacher Quizzes
                                .teacher_meta.d-flex.flex-row.align-items-center.justify-content-start
                                    .teacher_meta_title Quizzes:
                                    .teacher_meta_text.ml-auto
                                        span 600
                                        i.fa.fa-user(aria-hidden='true')
                            .teacher_info
                                p
                                    | Hi! I am Masion, I’m a marketing & management  eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus, sit amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum nam nulla ipsum.
                    // Latest Course
                    .sidebar_section
                        .sidebar_section_title Latest Courses
                        .sidebar_latest
                            // Latest Course
                            .latest.d-flex.flex-row.align-items-start.justify-content-start
                                .latest_image
                                    div
                                        img(src='/images/latest_1.jpg', alt='')
                                .latest_content
                                    .latest_title
                                        a(href='/courses/design') How to Design a Logo a Beginners Course
                                    .latest_price Free
                            // Latest Course
                            .latest.d-flex.flex-row.align-items-start.justify-content-start
                                .latest_image
                                    div
                                        img(src='/images/latest_2.jpg', alt='')
                                .latest_content
                                    .latest_title
                                        a(href='/courses/photo') Photography for Beginners Masterclass
                                    .latest_price $170
                            // Latest Course
                            .latest.d-flex.flex-row.align-items-start.justify-content-start
                                .latest_image
                                    div
                                        img(src='/images/latest_3.jpg', alt='')
                                .latest_content
                                    .latest_title
                                        a(href='/courses/secret') The Secrets of Body Language
                                    .latest_price $220
